* {
    font-family: "Roboto", sans-serif;
  }
body{
    margin: 0;
    min-width: 320px;
    max-width: 1440px ;
}
  h1 {
    font-family: "Shrikhand", "cursive";
  }
  
  $header-location-background-color:#EAEAEA;
  $hero-background-color:#F6F6F6;


  $header-title-font-family: "Shrikhand", "cursive";
  $main-font-family: "Roboto", "cursive";

  $header-title-font-size: 30px;
  $main-font-size: 16px;
  $hero-title-font-size: 24px;
  $hero-paragraph-font-size: 18px;
  $card-title-font-size: 24px;
  $card-subtitle-font-size: 17px;
  $footer-title-font-size: 18px;
  $footer-txt1-font-size: 16px;
  $footer-txt2-font-size: 16px;

  $header-title-font-weight: 400;
  $main-font-weight: 500;
  $hero-title-font-weight: 700;
  $hero-paragraph-font-weight: 300;
  $card-title-font-weight: 700;
  $card-subtitle-font-weight: 300;
  $footer-title-font-weight: 400;
  $footer-txt1-font-weight: 500;
  $footer-txt2-font-weight: 400;

  $header-title-line-height: 44px;
  $main-line-height: 19px;
  $hero-title-line-height: 28px;
  $hero-paragraph-line-height: 21px;
  $card-title-line-height: 28px;
  $card-subtitle-line-height: 20px;
  $footer-title-line-height: 26px;
  $footer-txt1-line-height: 19px;
  $footer-txt2-line-height: 19px;

  
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &_main{
        box-sizing: border-box;
        text-align: center;
        // display: flex;
        // justify-content: center;
        // &_&_icon{} 
        
        @media (min-width: 768px){
            height: 6rem;
        }

        &_logo{
            display: none;
        }
        &_title{
            // margin-left: 42px;
            text-align: center;
            font-size: $header-title-font-size;
            font-weight: $header-title-font-weight;
            line-height:  $header-title-line-height;
            margin-top: 0.875rem;
            margin-bottom: 4.5px;
        }
        
         @media (min-width: 768px){
            &_title{
                display: none;
            }
            &_logo {
                display: flex;
                justify-content: center;
                margin-top: 30px;
                margin-bottom: 32px;
            }
         }
    }

}

.location{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
   height: 3.125rem;   //50px
    background-color: $header_location-background-color;
    .icon{
        display: flex;
        align-items: center;
        
    }
    &_txt{
        display: flex;
        margin-left: 1.063rem;
        align-items: center;
    }
}

.hero{
    text-align: center;
    background-color: $hero-background-color;
    padding-top: 1.25rem;
    &_title{
        margin-bottom: 0.625rem;
    }
    &_discover{
        font-size: $hero-paragraph-font-size;
        font-weight: $hero-paragraph-font-weight;
        line-height: $hero-paragraph-line-height;
        margin: 2px auto;
    }
    &_btn{
        margin: 1.688rem auto 3.563rem;
        height: 3.125rem;
        width: 58%;
        border: 0;
        border-radius: 1.563rem;
        background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        @media (min-width: 768px){
            width: 13.625rem;
        }
        .btn_lien{
            text-decoration: none; 
            display: block;
            box-sizing: border-box;
        }
        .btn_txt{
            font-size: $main-font-size;
            font-weight: $main-font-weight;
            line-height: 3.125rem;
            color: #fff;
        }
    }
   
}

.function{

    &_title{
        margin-top: 3rem;
        margin-left: 20px;
        margin-bottom: 26px;
    }
    &_btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        @media (min-width: 768px){
            flex-direction: row;
        }
        .btn{
            display: flex;
            align-items: center;
            width: 92%;
            height: 4.6rem;
            border-radius: 1.25rem;
            margin-bottom: 1.563rem;


            &_number{
                width: 1.5rem;
                height: 1.5rem;
                display: flex;
                line-height: 1.5rem;
                justify-content: center;
                border-radius: 12px;
                background-color: #9356DC;
                color: #fff;
                position: relative;
                left: 12px;


            }
            // 按钮边距需要微调
            &_content{
                width: 100%;
                height: 100%;
                
                padding: 0;
                border: 0;
                background-color: #F6F6F6;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                .btn_content_lien{
                    text-decoration: none;
                    display: flex;
                    justify-content: center;

                    .btn_icon{
                        margin-right: 27px;
                        display: flex;
                        align-items: center;
                        i{
                            color: #7E7E7E;
                        }
                    }
                    .lst_txt{
                        line-height: 72px;
                        display: flex;
                        justify-self: center;
                        font-size: $main-font-size;
                        font-weight: $main-font-weight;
                        line-height: $main-line-height;
                        color: #000;
                    }

                }
            }
        }

    }

}

.menu{
    &_title{
        margin-top: 3.375rem;
        margin-left: 1.25rem;
    }
    &_cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 768px){
            &_cards{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                column-gap: 100px;
                row-gap: 50px;
            }
        }
        .card{
            width: 340px;
            height:251px;
            display: flex;

            &_lien{
                display: block;
                width: 346px;
                height: 251px;
                display: flex;
                flex-direction: column;

                .card_picture{
                    width: 346px;
                    height: 231px;
                }
                .card_badge{
                    width: 80px;
                    height: 29px;
                    line-height: 29px;
                    background-color: #99E2D0 ;
                    color: #008766;
                    z-index: 2;
                    position: relative;
                    left: 248px;
                    bottom: 209px;

                }
                .card_conten{
                    width: 100% ;
                    display: flex;
                    padding-top: 16px;
    
                    .card_txt{
                        display: flex;
                        flex-direction: column;
                        .card_title{

    
                        }
                        .card_subtitle{
    
                        }
                    }
                    .card_like{
                        
                    }
                }    

            }
            
           

        }
    }
}

footer{
    background-color: #000;
    color: #fff;
    .footer_title{
        font-family: $header-title-font-family;
        font-size: $footer-title-font-size;
        font-weight: $footer-title-font-weight;
        line-height: $footer-title-line-height;
    }
    .footer_wrapper{

    }
}