* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  max-width: 1440px;
}

h1 {
  font-family: "Shrikhand", "cursive";
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header_main {
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 768px) {
  .header_main {
    height: 6rem;
  }
}

.header_main_logo {
  display: none;
}

.header_main_title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  margin-top: 0.875rem;
  margin-bottom: 4.5px;
}

@media (min-width: 768px) {
  .header_main_title {
    display: none;
  }
  .header_main_logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 32px;
  }
}

.location {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3.125rem;
  background-color: #EAEAEA;
}

.location .icon {
  display: flex;
  align-items: center;
}

.location_txt {
  display: flex;
  margin-left: 1.063rem;
  align-items: center;
}

.hero {
  text-align: center;
  background-color: #F6F6F6;
  padding-top: 1.25rem;
}

.hero_title {
  margin-bottom: 0.625rem;
}

.hero_discover {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  margin: 2px auto;
}

.hero_btn {
  margin: 1.688rem auto 3.563rem;
  height: 3.125rem;
  width: 58%;
  border: 0;
  border-radius: 1.563rem;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .hero_btn {
    width: 13.625rem;
  }
}

.hero_btn_lien {
  text-decoration: none;
  display: block;
  box-sizing: border-box;
}

.hero_btn_txt {
  font-size: 16px;
  font-weight: 500;
  line-height: 3.125rem;
  color: #fff;
}

.function {
  display: flex;
  flex-direction: column;
}

.function_title {
  margin-top: 3rem;
  margin-left: 20px;
  margin-bottom: 26px;
}

@media (min-width: 768px) {
  .function_title {
    margin-left: 7.5em;
    margin-top: 3.125rem;
  }
}

.function_btns {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .function_btns {
    flex-direction: row;
    justify-content: center;
    gap: 36px;
  }
}

.function_btns .btn {
  width: 86%;
  border: none;
  border-radius: 1.25rem;
  margin-bottom: 1.563rem;
  margin-left: 2rem;
  padding: 0;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .function_btns .btn {
    width: 22.6%;
    margin-left: 0;
  }
}

.function_btns .btn_lien {
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
}

.function_btns .btn_number {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 0.75rem;
  background-color: #9356DC;
  color: #fff;
  margin-left: -0.75rem;
}

.function_btns .btn_icon {
  font-size: 1rem;
  line-height: 100%;
  margin-left: 1.5rem;
  color: #7E7E7E;
}

.function_btns .btn_txt {
  line-height: 4.525rem;
  margin-left: 1.5rem;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.menu {
  background-color: #F6F6F6;
}

.menu_title {
  margin-top: 3.375rem;
  margin-left: 1.25rem;
}

.menu_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .menu_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 100px;
    row-gap: 50px;
  }
}

.menu_cards .card {
  width: 340px;
  height: 251px;
  display: flex;
}

.menu_cards .card_lien {
  display: block;
  width: 346px;
  height: 251px;
  display: flex;
  flex-direction: column;
}

.menu_cards .card_lien_badge {
  width: 80px;
  height: 29px;
  line-height: 29px;
  background-color: #99E2D0;
  color: #008766;
  z-index: 2;
  position: relative;
  left: 248px;
  bottom: 209px;
}

.menu_cards .card_lien .card_content {
  width: 100%;
  display: flex;
  padding-top: 16px;
  z-index: 10;
}

.menu_cards .card_lien .card_content .card_txt {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 4px 25px 22px;
}

footer .footer_title {
  font-family: "Shrikhand", "cursive";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
