* {
    font-family: "Roboto", sans-serif;
  }
body{
    margin: 0;
    box-sizing: border-box;
    min-width: 320px;
    max-width: 1440px ;
}
  h1 {
    font-family: "Shrikhand", "cursive";
  }
  
  $header-location-background-color:#EAEAEA;
  $hero-background-color:#F6F6F6;


  $header-title-font-family: "Shrikhand", "cursive";
  $main-font-family: "Roboto", "cursive";

  $header-title-font-size: 30px;
  $main-font-size: 16px;
  $hero-title-font-size: 24px;
  $hero-paragraph-font-size: 18px;
  $card-title-font-size: 24px;
  $card-subtitle-font-size: 17px;
  $footer-title-font-size: 18px;
  $footer-txt1-font-size: 16px;
  $footer-txt2-font-size: 16px;

  $header-title-font-weight: 400;
  $main-font-weight: 500;
  $hero-title-font-weight: 700;
  $hero-paragraph-font-weight: 300;
  $card-title-font-weight: 700;
  $card-subtitle-font-weight: 300;
  $footer-title-font-weight: 400;
  $footer-txt1-font-weight: 500;
  $footer-txt2-font-weight: 400;

  $header-title-line-height: 44px;
  $main-line-height: 19px;
  $hero-title-line-height: 28px;
  $hero-paragraph-line-height: 21px;
  $card-title-line-height: 28px;
  $card-subtitle-line-height: 20px;
  $footer-title-line-height: 26px;
  $footer-txt1-line-height: 19px;
  $footer-txt2-line-height: 19px;

  @mixin btn{
    //与主页按钮样式大体一致
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    line-height: 3.125rem;
    border-radius: 32px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    //以下设置过渡属性
    transition-duration: 0.5s;
  } 

  @mixin btn_shadow {
    background-color: #fff;
    box-shadow: 0px 4px 0.938rem 0px rgba(0, 0, 0, 0.35);
  } 

  
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &_main{
        display: flex;
        align-items: center;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        @media (min-width: 768px){
            height: 6rem;
        }
        .header_menu_icon{
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-weight: 900;
            margin-left: 17px;
            color: #000;
            @media (min-width: 768px) {
            display: inline-block;
            position: relative;
            } 
        }

        &_logo{
            display: none;
        }

        &_title{
            // margin-left: 42px;
            text-align: center;
            font-size: $header-title-font-size;
            font-weight: $header-title-font-weight;
            line-height:  $header-title-line-height;
            color: #101010;
            margin:14px auto 4.5px;

        }
        
         @media (min-width: 768px){
            &_title{
                display: none;
            }

            &_logo {
                display: flex;
                justify-content: center;
                margin: 1.875rem auto 2rem;
            }
         }
    }
}

.location{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
   height: 3.125rem;   //50px
    background-color: $header_location-background-color;
   
    .icon{
        display: flex;
        align-items: center;
        
    }

    &_txt{
        display: flex;
        margin-left: 1.063rem;
        align-items: center;
        color: #353535;
        font-weight: 500;
    }
}

.hero{
    text-align: center;
    background-color: $hero-background-color;
    padding-top: 1.25rem;
    padding-bottom: 3.125rem;
    
    &_title{
        margin-bottom: 0.625rem;
    }

    &_subtitle{
        font-size: $hero-paragraph-font-size;
        font-weight: $hero-paragraph-font-weight;
        line-height: $hero-paragraph-line-height;
        margin: 2px auto;
        color: #353535;
    }
    // 按钮我直接写的<a href="#explo" class="hero_btn">Explorer nos restaurants</a>
    .hero_btn {
        display: block;
        width: 13.625rem;
        margin: 1.688rem auto 0;
        text-decoration: none;
        @media (min-width: 768px){
            margin: 1.125rem auto 0;
        }
        //以下样式及过渡是按钮共同样式可以尝试设置自变量
        // border-radius: 32px;
        // color: #fff;
        // font-size: $main-font-size;
        // font-weight: $main-font-weight;
        // line-height: 3.125rem;
        // background-color: #686868;
        // background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
        // box-shadow: 0px 4px 0.625rem 0px rgba(0, 0, 0, 0.25);
        // transition-duration: 0.5s;
        @include btn
    }
      
    .hero_btn:hover {
        // background-color: #fff;
        // box-shadow: 0px 4px 0.938rem 0px rgba(0, 0, 0, 0.35);
        @include btn_shadow
    }  
}

.function{
    display: flex;
    flex-direction: column;

    &_title{
        margin-top: 3rem;
        margin-left: 1.25rem;
        margin-bottom: 1.625rem;
        @media (min-width: 768px){
            margin-left: 7.5em;
            margin-top: 3.125rem;
        }
    }

    &_btns{
        display: flex;
        flex-direction: column;
        @media (min-width: 768px){
            flex-direction: row;
            justify-content: center;
            gap: 2.25rem;           
        }

        .btn{
            width: 86%;
            border: none;
            border-radius: 1.25rem;
            margin-bottom: 1.563rem;
            margin-left: 2rem;
            padding: 0;
            background-color: #F6F6F6;
            border-radius: 1.25rem;
            box-shadow: 0px 4px 0.938rem 0px rgba(0, 0, 0, 0.15);
        @media (min-width: 768px){
             width: 22.6%;
            margin-left:0;
            }

            &_link{
                text-decoration: none;
                display: block;
                display: flex;
                align-items: center;
            }

            &_number{
                width: 1.5rem;
                height: 1.5rem;
                line-height: 1.5rem;
                text-align: center;
                border-radius: 0.75rem;
                background-color: #9356DC;
                color: #fff;
                margin-left: -0.75rem;
            }

            &_icon{
                font-size: 1rem;
                line-height: 100%;
                margin-left: 1.5rem;
                color: #7E7E7E;
            }

            &_txt{
            line-height: 4.525rem;
            margin-left: 1.5rem;
            color: #000;
            font-size: $main-font-size;
            font-weight: $main-font-weight;
            }
        }
    }
}

.menu{
    background-color: #F6F6F6;
    padding: 3.375rem 1.125rem 4.125rem 1.063rem;
    @media (min-width: 768px){
        padding: 1.875rem 11.25rem;
    }

    &_title{
        margin:0 0 1.25rem;
        @media (min-width: 768px){
            margin-bottom: 1.75rem;
        }    
    }

    &_cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.125rem;
        @media (min-width: 768px){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 3.125rem;
        }

        .card_link{
            width: 100%;
            height:100%;
            display: block;
            text-decoration: none; 
            color: #000;
            @media (min-width: 768px){
                width: 45.38%;
            }

            .card{
                height:15.688rem;
                border-radius: 0.938rem;
                background-color: #fff;  

                .card_badge{
                    width: 5rem;
                    height: 1.813rem;
                    line-height: 1.813rem;
                    text-align: center;
                    background-color: #99E2D0 ;
                    color: #008766;
                    margin-right: 0.75rem;
                    margin-left: auto;
                    position: relative;
                    z-index: 10;
                    margin-bottom: -3rem;
                }

                .card_image{
                    width: 100%;   
                    height: 69.3%;  
                    border-radius: 0.938rem 0.938rem 0 0 ; 
                    overflow: hidden;
                    object-fit: cover; 
                }

                .card_content{
                    width: 100% ;
                    height: 30.7%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 0 0 0.938rem 0.938rem;

                    &_txt{
                        margin-left: 0.813rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        row-gap: 5px;

                        &_title{
                        margin: 0 ;
                        }
                        &_subtitle{
                        font-size: $card-subtitle-font-size;
                        margin: 0;
                        }
                    }

                    &_like{
                        display: block;
                        font-size: 1.375rem;
                        height: 1.313rem;
                        margin-right: 1.563rem;
                        position: relative;
                        z-index: 9;   //?????有必要吗？
                    }
                }    
            }
        }   
    }
}

// code page-menu 
.header_menu_link{
    .header_menu_icon{
        font-size: 20px;
        position: absolute;
        top:1rem;     
    }
}


.header_menu_title{
    margin-right: 89px;
    margin-left: 42px;
    @media (min-width: 768px){
        margin-right: 621px;
        // margin-left: 572px;
    }
}

.menu_images{
  width: 100%;
  object-fit: cover;
  height:212px;
  @media (min-width: 768px){
    height:393px;
  }
}

.page_menu_main{
    background-color: #F6F6F6;
    border-radius: 2rem 2rem 0 0 ;
    position: relative;
    margin-top: -3.125rem;
    padding-bottom: 40px;
    @media (min-width: 768px){
        margin: -3.125rem 12rem 0;
    }
    
    .menu_header{
        display: flex;
        align-items: center;
        column-gap: 24px;
        // justify-content: space-between;
        padding: 12px 17px 0;

    
        &_title{
            font-family: $header-title-font-family;
            font-size: 28px;
            font-weight: 400;
            color:#101010;
            // margin-top:32px;

        }
        &_like{
            margin-right: 24px;
            
            
            
            
            opacity: 1;
        } //小心心最后设计


    }
    .submenus{
        margin: 0 0 40px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;


        @media (min-width: 768px){
            padding-left:211px;
            padding-right: 211px;
        }

    
        .submenu{
            padding-left: 13px;
            padding-right: 13px;

            &_title{
                margin:0;
                position: relative;
            }
            &_title::after{
                content: "";
                width: 40px;
                height: 3px;
                background-color: #99E2D0;
                position: absolute;
                left: 0;
                top:27px
            }
            .menuitem_lst{
                margin: 0;
                padding: 7px 0 0;
                .menuitem{
                    background-color: #fff;
                    list-style: none;
                    padding: 15px;
                    // margin-left: 13px;
                    // margin-right: 13px;
                    margin-top:12px;
                    border-radius: 15px;
                    display: flex;
                    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);

                    &_header{
                        display: flex;
                        flex-direction: column;
                        row-gap: 5px;

                        .menuitem_title, .menuitem_description{
                            margin: 0;
                            white-space:nowrap;
                            text-overflow:ellipsis;
                        }
                    }
                }

            }


        }
      
        

    }

    .menu_btn_order{
        display: block;
        margin: 40px auto 0;
        border: 0;
        padding: 0;
        width: 11.625rem;
        @media (min-width: 768px){
        width: 17.6%;
        }

        @include btn
    }
    .menu_btn_order:hover{
        // background-color: #fff;
        // box-shadow: 0px 4px 0.938rem 0px rgba(0, 0, 0, 0.35);
        @include btn_shadow
    }
}

footer{
    background-color: #353535;
    color: #fff;
    padding: 1.375rem 1.563rem;
    @media (min-width: 768px){
    padding: 1.875rem 1.563rem;
    display: flex;
    flex-direction: row-reverse;
    }
    .footer_title{
        font-family: $header-title-font-family;
        font-size: $footer-title-font-size;
        font-weight: $footer-title-font-weight;
        line-height: $footer-title-line-height;
        margin: 0;
        @media (min-width: 768px){
        margin-right: 2.563rem;
        margin-left: 4.438rem;
        }
    }
    .footer_wrapper{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        
        margin-top: 0.563rem;
        @media (min-width: 768px){
        flex-direction: row; 
        margin: 0; 
        }

        .footer_lst{
            margin-top: 0.438rem;
            @media (min-width: 768px){
                margin-left: 2.5rem;
            }    
        }  

        .footer_link{
            text-decoration: none;
            color: #fff;
        } 

        .footer_icon{
            font-size: 0.813rem;
            width: 0.75rem;
            margin-right: 0.688rem;
        }
    }
}

